body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.search-form {
    position: fixed;
    border: 1px solid #ccc;
    padding: 50px;
    margin-top: -100px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height: 230px;
    width: 500px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.btn-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-search {
    background-color: #007bff;
    color: #fff;
}

.btn-reset {
    background-color: #dc3545;
    color: #fff;
}